@{
    ViewData["Title"] = "Home Page";
}
@model UserClass;

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    Name : @Model.Name;
    Email: @Model.Email;
    Sum: @Model.Sum(4,5);
</div>
@section Scripts
{
    <script>
        console.log($("h1").text());
    </script>
}
