@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

@* To write the header in the console using JavaScript, you can use the following script: *@
@section Scripts{
    <script>
        console.log($("h1").text());
    </script>
}